NEXT_PUBLIC_APP_URL=https://libraryprotocol.xyz

NEXT_PUBLIC_PRIVY_APP_ID=cm6fcno24025c3wu7q0h5310u

ENV=production

RESEND_API_KEY=1

DATABASE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYzEyY2QyNzMtZjhjMC00MWExLWI0ZWEtOTIzMGY1NmUzNjg5IiwidGVuYW50X2lkIjoiODA4Y2JjOTFmM2Y3NjFhMDM0NDFlYWFmN2Q4YTFiZGVlY2JkZmRhZTU4Njk5MjVjMWU4NGNiNWE2NzI1MzI2NCIsImludGVybmFsX3NlY3JldCI6ImZmYmQwYmFkLWQ3MGYtNGRlZC04NGEyLWIwOTBjYmFlODM1OSJ9.fg0TFxO4ORJfHRpoZkcMc56F63h6eB2-pcgKP5YPy-E

PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzMDBiZjNkNy0wNjFiLTQ1YjktYWY2MC02ODY2MDU1MjIzNzEiLCJlbWFpbCI6ImxpbHNjaWVudGlzdDAxQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI0NTJmZmFmZGYyNzM3NzMwOTI1ZSIsInNjb3BlZEtleVNlY3JldCI6IjAxODkyYjk3NzgxMzg4NzgxMjJkMGE5OGIzYjNmZjRmMmY3MDc5OTU1N2QyMzM0NmVkZmJmNTkyYzA0OWY2MTQiLCJleHAiOjE3NzAxNzQ5ODZ9.ZIveItAL2DuGUhDKE1WpEtSlfNRBxQygzDTT5PdNyr0

NEXT_PUBLIC_GATEWAY_URL=amber-chemical-weasel-445.mypinata.cloud

PINATA_API_KEY=452ffafdf2737730925e

PINATA_SECRET=01892b9778138878122d0a98b3b3ff4f2f70799557d23346edfbf592c049f614

NEXT_PUBLIC_IPFS_GATEWAY=https://black-raw-narwhal-2.mypinata.cloud/ipfs/

NOVU_SECRET_KEY=3fd898f98b0ca9c3dedf12ab99b8e99d

LIBRARY_ADDRESS=0xA3746E46399c1968D6ba8Ae9D355a7e73A025b71

LIBRARY_BOOK_ADDRESS=0x8B5d7EF970253f27b1Da04214b79b9116b48CA99

LIBRARY_PROTOCOL_ADDRESS=0xF195fCfA6D63eedD49b9A88A7f50F81FE8e515c2

NEXT_PUBLIC_NOVU_APPLICATION_ID=p3EAIz0y2oQr

NEXT_PUBLIC_NOVU_SUBCRIBER_ID=67a4e3a3ff13d2c0930fe346
